# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Environment Variables
.env
*.env

# ==========================
# React
# ==========================
node_modules/
build/

# ==========================
# VS Code
# ==========================
.vscode/
.history/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db